@import url('https://fonts.cdnfonts.com/css/boudin-thin');;
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');;


/* body{
  background-color: #cf9425;
 } */

.background-color {
  background-color: #e5e5e5; /* Cambia este valor al color deseado */
}


#root{
  font-family: 'Boudin Medium', sans-serif;
  font-family: 'Boudin UltraLight', sans-serif;
  background-color: rgb(255, 255, 255);
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  height: 100vh;
}


.img{
  background-image: url("./assets/nails1.png");
}

.card {
  width: 190px;
  height: 254px;
  border-radius: 50px;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe,
                -20px -20px 60px #ffffff;
                background-image: url("https://images.unsplash.com/photo-1641814250010-9887d86eedfd?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
 }

